Sandbox/Service References/user/UserRequest3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://beta.toteswishlist.com/Services/UserService/RequestHandler/UserRequest.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Totes.Model" />
  <xs:element name="GetUserInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Totes.Model" minOccurs="0" name="userInfo" type="q1:UserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Totes.Model" minOccurs="0" name="GetUserInfoResult" type="q2:UserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveUserSettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Totes.Model" minOccurs="0" name="userInfo" type="q3:UserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveUserSettingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Totes.Model" minOccurs="0" name="SaveUserSettingsResult" type="q4:SaveSettingsResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Totes.Model" minOccurs="0" name="userInfo" type="q5:UserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Totes.Model" minOccurs="0" name="DeleteAccountResult" type="q6:DeleteAccountResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePricacySettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Totes.Model" minOccurs="0" name="settings" type="q7:PrivacySettings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePricacySettingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Totes.Model" minOccurs="0" name="UpdatePricacySettingsResult" type="q8:StandardResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateStandardUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="passwordHash" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateStandardUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Totes.Model" minOccurs="0" name="CreateStandardUserResult" type="q9:CreateStandardUserResponseCode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendForgotPasswordEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendForgotPasswordEmailResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="oldPasswordHash" type="xs:int" />
        <xs:element minOccurs="0" name="newPasswordHash" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Totes.Model" minOccurs="0" name="ChangePasswordResult" type="q10:ChangePasswordResponseCode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateUserLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Totes.Model" minOccurs="0" name="standardUserInfo" type="q11:StandardUserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateUserLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Totes.Model" minOccurs="0" name="ValidateUserLoginResult" type="q12:StandardUserLoginResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShareItemOnFacebook">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Totes.Model" minOccurs="0" name="facebookUser" type="q13:FacebookInfo" />
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Totes.Model" minOccurs="0" name="criteria" type="q14:PostItemCriteria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShareItemOnFacebookResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Totes.Model" minOccurs="0" name="ShareItemOnFacebookResult" type="q15:PostItemResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShareItemOnTwitter">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Totes.Model" minOccurs="0" name="twitterUser" type="q16:TwitterInfo" />
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Totes.Model" minOccurs="0" name="criteria" type="q17:PostItemCriteria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShareItemOnTwitterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Totes.Model" minOccurs="0" name="ShareItemOnTwitterResult" type="q18:PostItemResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFriendsAll">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Totes.Model" minOccurs="0" name="userInfo" type="q19:UserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFriendsAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Totes.Model" minOccurs="0" name="GetFriendsAllResult" nillable="true" type="q20:ArrayOfPerson" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFriendsFacebook">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Totes.Model" minOccurs="0" name="facebookInfo" type="q21:FacebookInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFriendsFacebookResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Totes.Model" minOccurs="0" name="GetFriendsFacebookResult" nillable="true" type="q22:ArrayOfPerson" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFriendsTwitter">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Totes.Model" minOccurs="0" name="twitterInfo" type="q23:TwitterInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFriendsTwitterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Totes.Model" minOccurs="0" name="GetFriendsTwitterResult" nillable="true" type="q24:ArrayOfPerson" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FriendSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Totes.Model" minOccurs="0" name="criteria" type="q25:FriendSearchCriteria" />
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Totes.Model" minOccurs="0" name="userInfo" type="q26:UserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FriendSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Totes.Model" minOccurs="0" name="FriendSearchResult" nillable="true" type="q27:ArrayOfPerson" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestFriendInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="friendUserId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestFriendInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Totes.Model" minOccurs="0" name="RequestFriendInfoResult" type="q28:FriendRequestResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RespondFriendRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="friendUserId" type="xs:int" />
        <xs:element minOccurs="0" name="accept" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RespondFriendRequestResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFriendRequests">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFriendRequestsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Totes.Model" minOccurs="0" name="GetFriendRequestsResult" nillable="true" type="q29:ArrayOfPerson" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Totes.Model" minOccurs="0" name="criteria" type="q30:SendMessageCriteria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Totes.Model" minOccurs="0" name="SendMessageResult" type="q31:StandardResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMessages">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMessagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Totes.Model" minOccurs="0" name="GetMessagesResult" nillable="true" type="q32:ArrayOfMessageInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MarkMessageRead">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Totes.Model" minOccurs="0" name="message" type="q33:MessageInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MarkMessageReadResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFriendsWishList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="friendUserId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFriendsWishListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Totes.Model" minOccurs="0" name="GetFriendsWishListResult" nillable="true" type="q34:ArrayOfItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CommitToBuy">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="wishListItemid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CommitToBuyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/Totes.Model" minOccurs="0" name="CommitToBuyResult" type="q35:CommitToBuyResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnCommitToBuy">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="wishListItemid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnCommitToBuyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/Totes.Model" minOccurs="0" name="UnCommitToBuyResult" type="q36:StandardResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCommittedItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCommittedItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/Totes.Model" minOccurs="0" name="GetCommittedItemsResult" nillable="true" type="q37:ArrayOfCommittedItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecommendations">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecommendationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/Totes.Model" minOccurs="0" name="GetRecommendationsResult" nillable="true" type="q38:ArrayOfRecommendation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MergeAccountFacebook">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/Totes.Model" minOccurs="0" name="facebookInfo" type="q39:FacebookInfo" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MergeAccountFacebookResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/Totes.Model" minOccurs="0" name="MergeAccountFacebookResult" type="q40:MergeAccountResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MergeAccountTwitter">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/Totes.Model" minOccurs="0" name="twitterInfo" type="q41:TwitterInfo" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MergeAccountTwitterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/Totes.Model" minOccurs="0" name="MergeAccountTwitterResult" type="q42:MergeAccountResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddItemToWishList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/Totes.Model" minOccurs="0" name="item" type="q43:Item" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddItemToWishListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/Totes.Model" minOccurs="0" name="AddItemToWishListResult" type="q44:AddItemResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemmoveItemToWishList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/Totes.Model" minOccurs="0" name="item" type="q45:Item" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemmoveItemToWishListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/Totes.Model" minOccurs="0" name="RemmoveItemToWishListResult" type="q46:RemoveItemResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveWishListItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/Totes.Model" minOccurs="0" name="item" type="q47:Item" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveWishListItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/Totes.Model" minOccurs="0" name="SaveWishListItemResult" type="q48:SaveItemResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAlternateItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/Totes.Model" minOccurs="0" name="alternateItem" type="q49:CompanyData" />
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/Totes.Model" minOccurs="0" name="parentItem" type="q50:Item" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAlternateItemResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitSuggestion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitSuggestionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>